---
title: ""
permalink: /research_A/
author_profile: true
---
<!-- SEE https://getbootstrap.com/docs/4.4/components/buttons/ FOR INTERESTING WIDGETS! -->

<!-- {% if author.googlescholar %}
  You can also find my articles on <u><a href="{{author.googlescholar}}">my Google Scholar profile</a>.</u>
{% endif %}

{% include base_path %}

{% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %} -->


<h2>Publication</h2> 

<b>Wang, Y.</b>, Zhou, S., Zhang, Y.(2025). 
<text class="pub-title">Convolutional neural network-based reduced-order modeling for parametric nonlocal PDEs</text>. CMAME 2024.
<br>
<button type="button" class="btn btn-primary btn-sm" onclick=" window.open('https://www.sciencedirect.com/science/article/abs/pii/S0045782525003561','_blank')">Paper</button>
<br>
<br>
 

<b>Wang, Y.</b>, Zhou, S., Zhang, Y.(2024). 
<text class="pub-title">Parametric model reduction with convolutional neural networks</text>. IJNAM 2024.
<br>
<button type="button" class="btn btn-primary btn-sm" onclick=" window.open('https://www.math.ualberta.ca/ijnam/Volume-21-2024/No-5-24/2024-05-06.pdf','_blank')">Paper</button>
<br>
<br>


<b>Wang, Y.</b>, Wu, X., Luo, Y.(2018). 
<text class="pub-title">Research on the classification of grants based on data mining and random forest algorith</text>.
<br>
<button type="button" class="btn btn-primary btn-sm" onclick=" window.open('http://222.134.6.173:5000/KCMS/detail/detail.aspx?filename=SCZG201903020&dbcode=CJFQ&dbname=CJFD2019','_blank')">Paper</button>
<br>
<br>

---

<h2>Selected Talk and Poster</h2>
Nov 2025, <i>Discretization-independent reduced order modeling for parametrized PDEs</i>, <b>Graduate Seminar</b> at Missouri University of Science and Technology
<br>
<button type="button" class="btn btn-primary btn-sm" onclick=" window.open('http://YumengWang0.github.io/files/T1.pdf','_blank')">Slides</button>
<br>
<br>

Jan 2025, <i>Parametric reduced order modeling for nonlocal PDEs</i>. <b>Computational Learning for Model Reduction</b> at Brown University
<br>
<button type="button" class="btn btn-primary btn-sm" onclick=" window.open('http://YumengWang0.github.io/files/T2.pdf','_blank')">Slides</button>
<br>
<br>

Oct 2024, <i>Parametric reduced order modeling for nonlocal PDEs</i>. <b>SIAM Central Section</b> at University of Missouri-Kansas City
<br>
<button type="button" class="btn btn-primary btn-sm" onclick=" window.open('http://YumengWang0.github.io/files/T3.pdf','_blank')">Slides</button>
<br>
<br>

Jan 2025, <i>Data-driven modeling with generative adversarial networks</i>. <b> </b> at Missouri University of Science and Technology
<br>
<button type="button" class="btn btn-primary btn-sm" onclick=" window.open('http://YumengWang0.github.io/files/T4.pdf','_blank')">Slides</button>
<br>
<br>

---

<h2>Research Projects</h2>

<text class="pub-title">Connection between kernel-based approaches and nonlocal operator</text>, supervised by Dr. Yanzhi Zhang, 2025. 
<br>
<br>

<text class="pub-title">Geometries-awareness operator learning approach for PDEs </text>, supervised by Dr. Yanzhi Zhang, 2025. 
<br>
<br>

<text class="pub-title">Discretization-independent reduced order modeling for parametrized PDEs</text>, supervised by Dr. Yanzhi Zhang, 2025. 
<br>
<br>

<text class="pub-title">Foundation model accelerating PINN modeling</text>, supervised by Dr. Yanzhi Zhang, 2025.
<br>
<br>

<text class="pub-title">Convlutional-based Reduced order modeling for nonlocal parameteric PDEs </text>, supervised by Dr. Yanzhi Zhang, 2024.
<br>
<br>

<text class="pub-title">Parametric model reduction with convolutional neural networks </text>, supervised by Dr. Yanzhi Zhang, 2023.
<br>
<br>

<text class="pub-title">Generative modeling for learning the solution of PDEs </text>, supervised by Dr. Yanzhi Zhang, 2022.
<br>
<br>
