---
title: ""
permalink: /research_A/
author_profile: true
---
<!-- SEE https://getbootstrap.com/docs/4.4/components/buttons/ FOR INTERESTING WIDGETS! -->

<!-- {% if author.googlescholar %}
  You can also find my articles on <u><a href="{{author.googlescholar}}">my Google Scholar profile</a>.</u>
{% endif %}

{% include base_path %}

{% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %} -->


<h2>Publication</h2> 
<b>Wang, Y.</b>, Zhou, S., Zhang, Y.(2024). 
<text class="pub-title">Parametric model reduction with convolutional neural networks</text>. IJNAM 2024.
<br>
<button type="button" class="btn btn-primary btn-sm" onclick=" window.open('https://www.math.ualberta.ca/ijnam/Volume-21-2024/No-5-24/2024-05-06.pdf','_blank')">Paper</button>
<br>
<br>
 

<h2>Research Projects</h2>

<text class="pub-title">Neural operator learning in the Latent space</text>, supervised by Dr. Yanzhi Zhang, 2025. 
<br>
<br>

<text class="pub-title">Foundation model accelerating PINN modeling</text>, supervised by Dr. Yanzhi Zhang, 2025.
<br>
<br>

<text class="pub-title">Neural operator learning in the Latent space</text>, supervised by Dr. Yanzhi Zhang, 2025. 
<br>
<br>

<text class="pub-title">Convlutional-based Reduced order modeling for nonlocal parameteric PDEs </text>, supervised by Dr. Yanzhi Zhang, 2024.
<br>
<br>


<text class="pub-title">Parametric model reduction with convolutional neural networks </text>, supervised by Dr. Yanzhi Zhang, 2023.
<br>
<br>

<text class="pub-title">Generative modeling for learning the solution of PDEs </text>, supervised by Dr. Yanzhi Zhang, 2022.
<br>
<br>
